<nav class="navbar navbar-expand-lg navbar-dark bg-warning">
  <div>
  <%= link_to 'Medium Pro', root_path, class:"navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <button class="btn" type="submit"><%= link_to 'Your Stories', stories_path%></button>
  <button class="btn" type="submit">Membership</button>
  <button class="btn" type="submit">Write</button>
  <button class="btn " type="submit"><%= link_to 'Sign in', user_session_path%></button>
</div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'About Us', home_about_path, class:"nav-link" %>
      </li>
    </ul>

    
    <form class="form-inline my-2 my-lg-0">
      <%#= <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> %>
      <%#= <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> %>
    </form>
  </div>
</nav>