<p style="color: green"><%= notice %></p>
<h1>Your Stories</h1>
<div class="row justify-content-center mt-4">
<div class="col-md-6" text-center>
<div id="stories">
  <% @stories.each do |story| %>
    <%= render story %>
    <p>
      <%= link_to "Read this story", story %>
    </p>
  <% end %>
</div>

<%= link_to " Write a new story", new_story_path %>
</div>.
</div>